@model NIP.Models.BusinessViewModel
@{
    ViewData["Title"] = "NIP";    
}

<div ng-controller="SearchController as vm">    
    <form novalidate name="vm.form" ng-submit="vm.form.$valid && vm.search()" role="form">
        <div class = "form-group">
            <label>KRS/REGON/NIP</label>
            <input type="text" ng-model="vm.key" class="form-control" name="key"/>
        </div>

        <button type="submit" class="btn btn-default">Pobierz dane</button>
    </form>    
    <div ng-show="vm.showResult" class="result">
        <div ng-show="vm.message != null">
            <div class = "alert alert-danger">
				{{vm.message}}
            </div>
		</div>
        <span ng-show="vm.business != null"> 
            @Html.Angular().ListGroupForModel("vm.business")          
        </span>
    </div>    
</div>